
body{
    background-color: rgb(150, 144, 116);
}

/* FLEX - CONTAINER */
div.container{
    display: flex;
    width: 90%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

/* FLEX - ITEM */
.container div {
    margin: 5px 15px;
    height: 20%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16;
}

.container h1{
    font-weight: bold;
}

#item-1 {
    flex: 1
}
#item-2 {
    flex: 2
}
#item-3 {
    flex: 1
}

div.containerTwo{
    display: flex;
    width: 90%;
    height: 40em;
    margin: 20px auto;
    justify-content: space-between;
}
div.containerTwo div{
    padding: 10px;
    width: 27%;
    height: 15em;
}

div#featureOne {
    background-color: rgb(236, 209, 159);
    
}

div#featureTwo {
    background-color: rgb(133, 2, 2);
}
div#featureThree {
    background-color: rgb(15, 134, 105);
}

@media(max-width: 1000px){
    div.containerTwo{
        flex-flow: column;
        /* justify-content: space-evenly; */
    }

    div.containerTwo div{
        width: 97%;
        margin: 10px auto;
    }
}